<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>TheWall</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    </head>
    <body>
        <div class="container">
            <form class="form-signin" method="get" action="/my_profile">
                <button class="btn btn-lg btn-primary btn-block" type="submit">My Profile</button>
            </form>
            <form class="form-signin" method="get" action="/connections">
                <button class="btn btn-lg btn-primary btn-block" type="submit">My Connections</button>
            </form>
            <form class="form-signin" method="get" action="/search">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
            </form>
            <form class="form-signin" method="post" action="/logout">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
            </form>
        </div>
        <div class="container">
            <form class="form-signin" method="post" action="/wall">
                <h2 class="form-signin-heading">Post to the Wall</h2>
                <p>
                    <input type="text" id="post" name="post" class="form-control" placeholder="Write here..." required>
                </p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Post</button>
            </form>
        </div>
        <div class="container">
            <ul class="form-signin">
                <li th:each="post : ${posts}">
                    <span th:text="${post.poster.name}">name</span>
                    <a th:text="${post.poster.username}" th:href="@{profiles/{item}(item=${post.poster.profileString})}">username</a>
                    <span th:text="${#temporals.format(post.posted, 'dd-MM-yyyy HH:mm')}">posted</span>
                    <p>
                        <span th:text="${post.text}">text</span>
                    </p>
                </li>
            </ul>
        </div>
    </body>
</html>
